In [2]:
import pyodbc
import pandas as pd
from IPython.display import display, Markdown

In [3]:
server = 'covid.ebmdatalab.net,1433'
database = 'OPENCoronaExport' 
username = 'SA'
password = 'ahsjdkaJAMSHDA123[' 
cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

In [4]:
# NBVAL_IGNORE_OUTPUT
pd.read_sql("select top 10 * from CPNS", cnxn).iloc[0]

Patient_ID                                                    10007
Id                                                             1234
LocationOfDeath                                                 ITU
Sex                                                               M
DateOfAdmission                                          2020-04-02
DateOfSwabbed                                            2020-04-02
DateOfResult                                             2020-04-03
RelativesAware                                                    Y
TravelHistory                                                 False
RegionCode                                                      Y62
RegionName                                               North West
OrganisationCode                                                ABC
OrganisationName                                Test Hospital Trust
OrganisationTypeLot                                        Hospital
RegionApproved                                                 True
RegionalApprovedDate                                     2020-04-09
NationalApproved                                               True
NationalApprovedDate                                     2020-04-09
PreExistingCondition                                          False
Age                                                              57
DateOfDeath                                              2020-04-07
snapDate                                                 2020-04-09
HadLearningDisability                                            NK
ReceivedTreatmentForMentalHealth                                 NK
Der_Ethnic_Category_Description                                None
Der_Latest_SUS_Attendance_Date_For_Ethnicity                   None
Der_Source_Dataset_For_Ethnicty                                None
Name: 0, dtype: object

In [5]:
# NBVAL_IGNORE_OUTPUT
pd.read_sql("select top 10 * from SGSS_Negative", cnxn).iloc[0]

Patient_ID                                            10274
PHE_ID                                                22341
Organism_Species_Name     SARS-CoV-2 CORONAVIRUS (Covid-19)
Earliest_Specimen_Date                           2020-03-22
Lab_Report_Date                                  2020-03-25
Age_in_Years                                             25
Patient_Sex                                          Female
County_Description                                   London
PostCode_Source                                           P
Name: 0, dtype: object

In [6]:
# NBVAL_IGNORE_OUTPUT
pd.read_sql("select top 10 * from SGSS_Positive", cnxn).iloc[0]

Patient_ID                                            10007
PHE_ID                                                12341
Organism_Species_Name     SARS-CoV-2 CORONAVIRUS (Covid-19)
Earliest_Specimen_Date                           2020-03-22
Lab_Report_Date                                  2020-03-25
Age_in_Years                                             25
Patient_Sex                                          Female
County_Description                                   London
PostCode_Source                                           P
Name: 0, dtype: object

In [7]:
# NBVAL_IGNORE_OUTPUT
pd.read_sql("select top 10 * from ONS_Deaths", cnxn).iloc[0]

Patient_ID         10007
sex                    2
ageinyrs              99
dod           2020-02-01
icd10u              X590
ICD10001            J189
ICD10002            R688
ICD10003             R54
ICD10004            S720
ICD10005            X590
ICD10006            M259
ICD10007            Z966
ICD10008             I10
ICD10009            E210
ICD10010            None
ICD10011            None
ICD10012            None
ICD10013            None
ICD10014            None
ICD10015            None
Name: 0, dtype: object