In [6]:
import pyodbc
import pandas as pd

In [7]:
# enter ip address and port number of the system where the database resides.
#sqlcmd -S covid.ebmdatalab.net,1433 -U SA -P "$SQLPW" -q "EXIT(SELECT TOP 10 StockItemID, StockItemName FROM WideWorldImporters.Warehouse.StockItems ORDER BY StockItemID)"

server = 'covid.ebmdatalab.net,1433'
database = 'WideWorldImporters' # enter database name
username = 'SA'
password = 'ahsjdkaJAMSHDA123[' # add appropriate driver name
cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

In [8]:
# select command
query = ''' SELECT TOP 10 StockItemID, StockItemName FROM WideWorldImporters.Warehouse.StockItems ORDER BY StockItemID'''
data = pd.read_sql(query, cnxn)
data.head()

   StockItemID                      StockItemName
0            1       USB missile launcher (Green)
1            2         USB rocket launcher (Gray)
2            3      Office cube periscope (Black)
3            4  USB food flash drive - sushi roll
4            5   USB food flash drive - hamburger